.user-actions-container{
	margin-top: 15px;
	text-align: center;
}

.user-actions{
	margin-top: 5px;
	margin-bottom: 5px;
}

.error-header{
	font-size: 1.5em;
	color: red;
	background-color: #FFF0F0;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.error-name{
	font-weight: bold;
	color: red;
	margin-right: 10px;	
}

.errors-container{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #FFF0F0;
	padding-left: 10px;
}

.userResultContainer{
	margin: 0px 0px 20px 0px;
	padding: 20px;
}

.userResultContainer: hover{
	background: red;
}

.userResultNickname{
	color: #8D8D8D;
}

.friendDataContainer{
	margin-top: 15px;
	margin-left: 20px;
}

.publicationInput{
	height: 30px;
	padding: 30px;
	margin-left: 15%;
	font-size: 1.2em;
}

.profile_image{
	width: 300px;
	height: 268px;
	margin-top: 20px;
}

.profile_pic_container{
	text-align: center;
}
.profile_pic{
	margin-bottom: 10px;
}

.event_pic_container{
	text-align: center;
}
.event_pic{
	margin-bottom: 10px;
}

.friendshipStatus{
	margin-top: 5px;
}

.requestAction{
	marlgin-left: 5px;
}

.publication-shares-user{
	margin-right: 2px;
}

.shared-publication{
	background-color: aqua;
}

.event-preview-row{
	margin-top: 25px;
	padding: 8px;
}

#pendingNotifications{
	margin-left: 5px;
	display: none;
}
