body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.activeInstallation{
	background-color: #dd4814;
}
.activeISP{
	font-weight: bold;
	background:#FFCEAD;

}



.listExpanded i.icon-folder-open{ display:inline-block; }
.listExpanded i.icon-folder-close { display:none;}

.listCollapsed i.icon-folder-close{ display:inline-block; }
.listCollapsed i.icon-folder-open { display:none;}
